@using Microsoft.Ajax.Utilities
@model IEnumerable<Monitoring.Alert>
@{
    ViewBag.Title = "Settings";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var metrics = new[] {"Heart Rate", "Battery Life", "Activity Level"};
    var events = new[] {"Falls Below", "Less Than"};
}


<form class="form-horizontal" style="text-align: left; display: inline-block; width: auto;" action="@Url.Action("Index")" method="POST">
    
    <h3>Set up alerts</h3>

    <div class="form-group">
        <div class="checkbox col-xs-12">
            <label><input type="checkbox"> Fall Detection</label>
        </div>
    </div>
    
    @{ var i = 0;}
    @foreach (var alert in Model)
    {
        @Html.Hidden(string.Format("alerts[{0}].Id", i), alert.Id)
        <div class="form-group">
            <div class="col-xs-4 selectContainer">
                @Html.DropDownList(string.Format("alerts[{0}].Metric", i), new SelectList(metrics, alert.Metric), "Choose", new {@class = "form-control"})
            </div>
            <div class="col-xs-4 selectContainer">
                @Html.DropDownList(string.Format("alerts[{0}].Condition", i), new SelectList(events, alert.Condition), "Choose", new {@class = "form-control"})
            </div>
            <div class="col-xs-4">
                @Html.TextBox(string.Format("alerts[{0}].Value", i), alert.Value, new {@class = "form-control", type = "number", min = "0"})
            </div>
        </div>
        {
            i++;
        }
    }

    <div class="form-group">
        <div class="col-xs-offset-0 col-xs-1">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </div>

</form>